[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==6.2.5"
responses = "==0.16.0"
mock = "==4.0.3"
unittest2 = "==1.1.0"
pre-commit = "==2.17.0"
flake8 = "==4.0.1"
autopep8 = "==1.6.0"
pipenv = "==2022.1.8"
pep8-naming = "==0.12.1"
pytest-cov = "==3.0.0"

[packages]
logmatic-python = "==0.1.7"
confluent-kafka = "==1.8.2"
jaeger-client = "==4.8.0"
prometheus-client = "==0.13.1"
psycopg2-binary = "==2.9.3"
click = "==8.0.3"
flask = "==2.0.2"
backoff = "==1.11.1"
boxsdk = {extras = ["jwt"],version = "==2.13.0"}
cryptography = "==36.0.1"
hvac = "==0.11.2"
asyncio = "==3.4.3"
requests = "==2.27.1"
gunicorn = "==20.1.0"
gevent = "==21.12.0"
pyjwt = "==1.7.1"
ibm-db = "==3.1.1"
detect-secrets = {ref = "0.13.1+ibm.47.dss", git = "https://github.com/ibm/detect-secrets.git"}

[requires]
python_version = "3.8"
