[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==6.2.5"
responses = "==0.13.4"
mock = "==4.0.3"
unittest2 = "==1.1.0"
pre-commit = "==2.15.0"
flake8 = "==3.9.2"
autopep8 = "==1.5.7"
pipenv = "==2021.5.29"
pep8-naming = "==0.12.1"
pytest-cov = "==2.12.1"

[packages]
logmatic-python = "==0.1.7"
confluent-kafka = "==1.7.0"
jaeger-client = "==4.6.1"
prometheus-client = "==0.11.0"
psycopg2-binary = "==2.9.1"
click = "==8.0.1"
flask = "==2.0.1"
backoff = "==1.11.1"
boxsdk = {extras = ["jwt"],version = "==2.12.1"}
cryptography = "==3.4.8"
hvac = "==0.11.0"
asyncio = "==3.4.3"
requests = "==2.26.0"
gunicorn = "==20.1.0"
gevent = "==21.8.0"
pyjwt = "==1.7.1"
ibm-db = "==3.0.4"
detect-secrets = {ref = "0.13.1+ibm.45.dss", git = "https://github.com/ibm/detect-secrets.git"}

[requires]
python_version = "3.8"
