[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==7.1.1"
responses = "==0.20.0"
mock = "==4.0.3"
unittest2 = "==1.1.0"
pre-commit = "==2.18.1"
flake8 = "==4.0.1"
autopep8 = "==1.6.0"
pipenv = "==2022.3.28"
pep8-naming = "==0.12.1"
pytest-cov = "==3.0.0"

[packages]
logmatic-python = "==0.1.7"
confluent-kafka = "==1.8.2"
jaeger-client = "==4.8.0"
prometheus-client = "==0.14.0"
psycopg2-binary = "==2.9.3"
click = "==8.1.2"
flask = "==2.1.1"
backoff = "==1.11.1"
boxsdk = {extras = ["jwt"],version = "==3.2.0"}
cryptography = "==36.0.2"
hvac = "==0.11.2"
asyncio = "==3.4.3"
requests = "==2.27.1"
gunicorn = "==20.1.0"
gevent = "==21.12.0"
pyjwt = "==2.4.0"
ibm-db = "==3.1.1"
detect-secrets = {ref = "0.13.1+ibm.47.dss", git = "https://github.com/ibm/detect-secrets.git"}

[requires]
python_version = "3.9"
